In [1]:
import pandas as pd
sms = pd.read_csv('spam_or_not_spam.csv')
sms.head()

                                               email  label
0   date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1  martin a posted tassos papadopoulos the greek ...      0
2  man threatens explosion in moscow thursday aug...      0
3  klez the virus that won t die already the most...      0
4   in adding cream to spaghetti carbonara which ...      0

In [2]:
len(sms)

3000

In [3]:
sms.label.sum()

500

In [9]:
sms = sms.dropna()

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize.casual import casual_tokenize
tfidf_model = TfidfVectorizer(tokenizer=casual_tokenize)
tfidf_docs = tfidf_model.fit_transform(raw_documents=sms.email).toarray()

In [11]:
tfidf_docs.shape

(2999, 34079)

In [12]:
sms.label.sum()

499

In [13]:
mask = sms.label.astype(bool).values
spam_centroid = tfidf_docs[mask].mean(axis=0)
ham_centroid = tfidf_docs[~mask].mean(axis=0)
spam_centroid.round(2)

array([0.  , 0.  , 0.01, ..., 0.  , 0.  , 0.  ])

In [14]:
ham_centroid.round(2)

array([0.01, 0.  , 0.01, ..., 0.  , 0.  , 0.  ])

In [15]:
spamminess_score = tfidf_docs.dot(spam_centroid - ham_centroid)
spamminess_score.round(2)

array([-0.02,  0.  ,  0.  , ...,  0.07,  0.04,  0.01])

In [18]:
from sklearn.preprocessing import MinMaxScaler
sms['lda_score'] = MinMaxScaler().fit_transform(spamminess_score.reshape(-1,1))
sms['lda_predict'] = (sms.lda_score > .5).astype(int)
sms['label lda_predict lda_score'.split()].round(2).tail(15)

      label  lda_predict  lda_score
2985      1            0       0.32
2986      1            1       0.91
2987      1            1       0.77
2988      1            0       0.37
2989      1            0       0.46
2990      1            1       0.62
2991      1            1       0.62
2992      1            0       0.40
2993      1            0       0.49
2994      1            0       0.48
2995      1            0       0.40
2996      1            1       0.94
2997      1            1       0.70
2998      1            0       0.48
2999      1            0       0.31

In [20]:
(1. - (sms.label - sms.lda_predict).abs().sum() / len(sms)).round(3)

0.932

In [25]:
from sklearn.metrics import confusion_matrix

In [27]:
confusion_matrix(sms['label'], sms['lda_predict'])

array([[2500,    0],
       [ 205,  294]], dtype=int64)

In [30]:
import pandas as pd
pd.options.display.width=120
sms2 = pd.read_csv('spam_or_not_spam.csv')

In [32]:
sms2.head(6)

                                               email  label
0   date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1  martin a posted tassos papadopoulos the greek ...      0
2  man threatens explosion in moscow thursday aug...      0
3  klez the virus that won t die already the most...      0
4   in adding cream to spaghetti carbonara which ...      0
5   i just had to jump in here as carbonara is on...      0

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize.casual import casual_tokenize
tfidf = TfidfVectorizer(tokenizer = casual_tokenize)
tfidf_docs = tfidf.fit_transform(raw_documents=sms.email).toarray()
len(tfidf.vocabulary_)

34079

In [35]:
tfidf_docs.shape

(2999, 34079)

In [36]:
len(sms2)

3000

In [39]:
tfidf_docs = pd.DataFrame(tfidf_docs)
tfidf_docs = tfidf_docs - tfidf_docs.mean()

In [40]:
tfidf_docs.shape

(2999, 34079)

In [41]:
sms.label.sum()

499

In [42]:
from sklearn.decomposition import PCA

In [44]:
pca = PCA(n_components=16)
pca = pca.fit(tfidf_docs)
pca_topic_vectors = pca.transform(tfidf_docs)

In [49]:
columns = ['topic{}'.format(i) for i in range(pca.n_components)]
pca_topic_vectors = pd.DataFrame(pca_topic_vectors, columns=columns)

In [51]:
pca_topic_vectors.round(3).head(6)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15
0,0.228,-0.102,-0.039,0.005,-0.031,-0.002,0.110,0.007,-0.024,0.045,-0.061,-0.098,-0.040,-0.001,-0.007,0.028
1,-0.058,0.091,0.024,-0.058,0.031,-0.037,-0.042,-0.007,-0.043,0.234,0.114,-0.029,-0.022,-0.029,-0.083,0.024
2,-0.114,0.030,0.028,-0.113,0.011,-0.047,-0.028,-0.082,-0.008,0.184,0.025,-0.038,-0.030,-0.028,0.008,-0.018
3,-0.055,0.037,0.005,-0.053,0.016,-0.041,0.010,-0.068,-0.039,0.004,-0.035,-0.039,0.059,-0.028,-0.036,-0.004
4,-0.139,0.069,0.000,-0.029,0.050,-0.022,-0.033,0.051,-0.016,0.254,0.148,-0.011,-0.019,-0.041,-0.035,-0.001
5,-0.157,0.044,0.051,-0.064,0.056,-0.015,-0.070,0.034,0.010,0.324,0.169,-0.038,-0.050,-0.047,-0.044,0.015

In [53]:
tfidf.vocabulary_

{'date': 6778,
 'wed': 32109,
 'number': 19358,
 'aug': 2163,
 'from': 11039,
 'chris': 4839,
 'garrigues': 11312,
 'cwg': 6604,
 'dated': 6780,
 'numberfanumberd': 19590,
 'deepeddy': 6991,
 'com': 5357,
 'message': 17619,
 'id': 13424,
 'tmda': 29610,
 'vircio': 31561,
 'i': 13365,
 'can': 4175,
 't': 28800,
 'reproduce': 24812,
 'this': 29372,
 'error': 9372,
 'for': 10738,
 'me': 17445,
 'it': 14627,
 'is': 14549,
 'very': 31421,
 'repeatable': 24746,
 'like': 16324,
 'every': 9547,
 'time': 29522,
 'without': 32452,
 'fail': 9983,
 'the': 29279,
 'debug': 6896,
 'log': 16590,
 'of': 20641,
 'pick': 22132,
 'happening': 12383,
 'pick_it': 22133,
 'exec': 9660,
 'inbox': 13731,
 'list': 16423,
 'lbrace': 15972,
 'subject': 28261,
 'ftp': 11097,
 'rbrace': 24102,
 'sequence': 26397,
 'mercury': 17596,
 'ftoc_pickmsgs': 11090,
 'hit': 12861,
 'marking': 17218,
 'hits': 12872,
 'tkerror': 29593,
 'syntax': 28757,
 'in': 13710,
 'expression': 9840,
 'int': 14173,
 'note': 19252,
 'if': 13494,
 'run': 25589,
 'command': 5389,
 'by': 4011,
 'hand': 12337,
 'delta': 7125,
 'that': 29272,
 's': 25683,
 'where': 32217,
 'comes': 5378,
 'obviously': 20562,
 'version': 31407,
 'nmh': 19082,
 'm': 16880,
 'using': 31104,
 'compiled': 5522,
 'on': 20783,
 'url': 31057,
 'at': 2034,
 'sun': 28441,
 'mar': 17166,
 'ict': 13420,
 'and': 1334,
 'relevant': 24611,
 'part': 21547,
 'my': 18551,
 'mh_profile': 17686,
 'mhparam': 17695,
 'seq': 26392,
 'sel': 26289,
 'since': 26874,
 'works': 32573,
 'actually': 554,
 'both': 3506,
 'them': 29293,
 'one': 20787,
 'explicit': 9799,
 'line': 16366,
 'search': 26186,
 'popup': 22608,
 'do': 8011,
 'get': 11505,
 'created': 6321,
 'kre': 15656,
 'ps': 23402,
 'still': 28002,
 'code': 5231,
 'form': 10805,
 'a': 182,
 'day': 6806,
 'ago': 867,
 'haven': 12497,
 'been': 2739,
 'able': 305,
 'to': 29647,
 'reach': 24129,
 'cvs': 6592,
 'repository': 24793,
 'today': 29657,
 'local': 16549,
 'routing': 25478,
 'issue': 14613,
 'think': 29354,
 '___': 2,
 'exmh': 9718,
 'workers': 32563,
 'mailing': 16983,
 'martin': 17252,
 'posted': 22691,
 'tassos': 28944,
 'papadopoulos': 21453,
 'greek': 11976,
 'sculptor': 26144,
 'behind': 2784,
 'plan': 22292,
 'judged': 15098,
 'limestone': 16346,
 'mount': 18277,
 'kerdylio': 15337,
 'miles': 17780,
 'east': 8549,
 'salonika': 25762,
 'not': 19244,
 'far': 10058,
 'athos': 2051,
 'monastic': 18121,
 'community': 5461,
 'was': 31921,
 'ideal': 13430,
 'patriotic': 21665,
 'sculpture': 26146,
 'as': 1882,
 'well': 32149,
 'alexander': 1059,
 'granite': 11925,
 'features': 10175,
 'ft': 11082,
 'high': 12787,
 'wide': 32303,
 'museum': 18495,
 'restored': 24970,
 'amphitheatre': 1279,
 'car': 4266,
 'park': 21519,
 'admiring': 635,
 'crowds': 6413,
 'are': 1766,
 'planned': 22300,
 'so': 27281,
 'mountain': 18279,
 'or': 20949,
 'll': 16497,
 'weather': 32075,
 'pretty': 22997,
 'fast': 10093,
 'yahoo': 32976,
 'groups': 12055,
 'sponsor': 27671,
 'dvds': 8447,
 'free': 10958,
 'p': 21330,
 'join': 15011,
 'now': 19293,
 'unsubscribe': 30876,
 'group': 12050,
 'send': 26339,
 'an': 1295,
 'email': 8868,
 'forteana': 10834,
 'your': 33166,
 'use': 31078,
 'man': 17075,
 'threatens': 29409,
 'explosion': 9815,
 'moscow': 18239,
 'thursday': 29450,
 'august': 2167,
 'pm': 22412,
 'ap': 1581,
 'security': 26244,
 'officers': 20663,
 'seized': 26284,
 'unidentified': 30697,
 'who': 32275,
 'said': 25735,
 'he': 12555,
 'armed': 1809,
 'with': 32442,
 'explosives': 9818,
 'threatened': 29407,
 'blow': 3250,
 'up': 30969,
 'his': 12848,
 'truck': 30136,
 'front': 11045,
 'russia': 25616,
 'federal': 10184,
 'services': 26436,
 'headquarters': 12574,
 'ntv': 19340,
 'television': 29102,
 'reported': 24782,
 'automatic': 2232,
 'rifle': 25203,
 'carrying': 4340,
 'then': 29300,
 'got': 11818,
 'out': 21109,
 'taken': 28863,
 'into': 14327,
 'custody': 6566,
 'no': 19115,
 'other': 21071,
 'details': 7362,
 'were': 32164,
 'immediately': 13613,
 'available': 2257,
 'had': 12269,
 'demanded': 7136,
 'talks': 28890,
 'government': 11837,
 'officials': 20667,
 'interfax': 14248,
 'itar': 14634,
 'tass': 28943,
 'news': 18931,
 'agencies': 831,
 'ekho': 8762,
 'moskvy': 18241,
 'radio': 23921,
 'wanted': 31870,
 'talk': 28885,
 'russian': 25617,
 'president': 22965,
 'vladimir': 31627,
 'putin': 23561,
 'police': 22523,
 'forces': 10747,
 'rushed': 25611,
 'service': 26434,
 'building': 3862,
 'within': 32450,
 'blocks': 3217,
 'kremlin': 15658,
 'red': 24351,
 'square': 27741,
 'bolshoi': 3394,
 'ballet': 2472,
 'surrounded': 28565,
 'claimed': 4965,
 'have': 12491,
 'half': 12298,
 'tons': 29727,
 'negotiations': 18811,
 'continued': 5933,
 'about': 321,
 'hours': 13149,
 'outside': 21165,
 'citing': 4923,
 'witnesses': 32457,
 'later': 15898,
 'drove': 8329,
 'away': 2312,
 'under': 30585,
 'escort': 9400,
 'street': 28129,
 'near': 18750,
 'olympic': 20752,
 'penta': 21838,
 'hotel': 13136,
 'authorities': 2203,
 'held': 12648,
 'further': 11177,
 'him': 12815,
 'press': 22972,
 'move': 18294,
 'appeared': 1629,
 'be': 2682,
 'attempt': 2099,
 'more': 18203,
 'secure': 26235,
 'location': 16564,
 'klez': 15511,
 'virus': 31581,
 'won': 32517,
 'die': 7523,
 'already': 1151,
 'most': 18244,
 'prolific': 23230,
 'ever': 9542,
 'continues': 5934,
 'wreak': 32636,
 'havoc': 12503,
 'andrew': 1348,
 'brandt': 3618,
 'september': 26390,
 'pc': 21722,
 'world': 32582,
 'magazine': 16942,
 'worm': 32589,
 'approaching': 1683,
 'its': 14644,
 'seventh': 26474,
 'month': 18168,
 'wriggling': 32644,
 'across': 517,
 'web': 32077,
 'making': 17044,
 'persistent': 21950,
 'viruses': 31582,
 'experts': 9785,
 'warn': 31902,
 'may': 17358,
 'harbinger': 12391,
 'new': 18916,
 'combination': 5363,
 'pernicious': 21927,
 'approaches': 1682,
 'go': 11743,
 'antivirus': 1511,
 'software': 27328,
 'makers': 17042,
 'symantec': 28712,
 'mcafee': 17386,
 'report': 24778,
 'than': 29265,
 'infections': 13916,
 'daily': 6682,
 'sign': 26801,
 'letup': 16153,
 'british': 3725,
 'firm': 10443,
 'messagelabs': 17620,
 'estimates': 9451,
 'e': 8509,
 'mail': 16975,
 'messages': 17621,
 'holds': 12980,
 'variation': 31280,
 'says': 25918,
 'has': 12450,
 'surpassed': 28550,
 'last': 15886,
 'summer': 28431,
 'sircam': 26911,
 'some': 27366,
 'newer': 18923,
 'variants': 31279,
 'aren': 1771,
 'merely': 17599,
 'nuisances': 19351,
 'they': 29338,
 'carry': 4339,
 'corrupt': 6120,
 'data': 6769,
 'irregulars': 14534,
 'adding': 585,
 'cream': 6317,
 'spaghetti': 27485,
 'carbonara': 4272,
 'which': 32227,
 'same': 25783,
 'effect': 8679,
 'pasta': 21622,
 'pizza': 22255,
 'deep': 6989,
 'pie': 22159,
 'just': 15157,
 'jump': 15128,
 'here': 12706,
 'favourites': 10131,
 'make': 17035,
 'ask': 1913,
 'what': 32199,
 'hell': 12657,
 'you': 33153,
 'supposed': 28521,
 'instead': 14137,
 've': 31320,
 'never': 18910,
 'seen': 26270,
 'recipe': 24267,
 'hasn': 12458,
 'used': 31081,
 'personally': 21962,
 'low': 16723,
 'fat': 10099,
 'creme': 6346,
 'fraiche': 10909,
 'because': 2717,
 'quite': 23829,
 'nicely': 18985,
 'but': 3967,
 'only': 20799,
 'supposedly': 28522,
 'authentic': 2188,
 'identical': 13442,
 'mine': 17840,
 'eggs': 8706,
 'lots': 16693,
 'fresh': 10995,
 'parmesan': 21531,
 'except': 9619,
 'stew': 27983,
 'stewart': 27985,
 'smith': 27160,
 'scottish': 26076,
 'microelectronics': 17722,
 'centre': 4550,
 'university': 30749,
 'edinburgh': 8632,
 'isn': 14593,
 'basically': 2592,
 'mixture': 17972,
 'beaten': 2702,
 'egg': 8705,
 'bacon': 2416,
 'pancetta': 21435,
 'really': 24176,
 'mix': 17967,
 'raw': 24079,
 'cooked': 6022,
 'heat': 12601,
 'cooks': 6025,
 'understanding': 30616,
 'scotsman': 26074,
 'playboy': 22331,
 'wants': 31873,
 'bang': 2498,
 'ageing': 828,
 'berlin': 2884,
 'come': 5373,
 'unusual': 30943,
 'offer': 20655,
 'lure': 16817,
 'women': 32516,
 'bed': 2724,
 'promising': 23245,
 'woman': 32513,
 'sleeps': 27058,
 'inheritance': 14001,
 'rolf': 25379,
 'eden': 8622,
 'disco': 7703,
 'owner': 21284,
 'famous': 10041,
 'countless': 6185,
 'sex': 26483,
 'partners': 21586,
 'could': 6153,
 'imagine': 13580,
 'better': 2923,
 'way': 31963,
 'arms': 1813,
 'attractive': 2131,
 'young': 33161,
 'preferably': 22884,
 'put': 23559,
 'all': 1088,
 'will': 32339,
 'testament': 29206,
 'gets': 11516,
 'money': 18130,
 'mr': 18333,
 'told': 29689,
 'bild': 3001,
 'newspaper': 18944,
 'want': 31869,
 'pass': 21598,
 'beautiful': 2712,
 'moment': 18111,
 'life': 16292,
 'first': 10448,
 'lot': 16690,
 'fun': 11135,
 'wild': 32327,
 'final': 10375,
 'orgasm': 20995,
 'end': 9014,
 'heart': 12596,
 'attack': 2087,
 'gone': 11780,
 'selling': 26314,
 'nightclub': 19018,
 'year': 33019,
 'applications': 1653,
 'should': 26697,
 'sent': 26369,
 'quickly': 23812,
 'age': 826,
 'soon': 27400,
 'adamson': 566,
 'wrote': 32672,
 're': 24127,
 'probably': 23106,
 'right': 25207,
 'added': 578,
 'guess': 12138,
 'try': 30171,
 'looking': 16644,
 'internet': 14275,
 'found': 10867,
 'possibly': 22683,
 'scariest': 25962,
 'people': 21845,
 'us': 31065,
 'congressman': 5762,
 'worst': 32604,
 'non': 19167,
 'smiles': 27157,
 'apologies': 1607,
 'any': 1554,
 'maine': 17007,
 'residents': 24900,
 'voted': 31713,
 'again': 822,
 'once': 20786,
 'pic': 22129,
 'thu': 29437,
 'meaningful': 17453,
 'sentences': 26372,
 'tracey': 29872,
 'lawson': 15952,
 'look': 16642,
 'dangerous': 6722,
 'inmates': 14036,
 'prison': 23073,
 'history': 12860,
 'judge': 15097,
 'described': 7284,
 'charles': 4681,
 'bronson': 3758,
 'chance': 4629,
 'serial': 26413,
 'hostage': 13124,
 'taker': 28866,
 'movie': 18299,
 'star': 27849,
 'written': 32665,
 'health': 12583,
 'fitness': 10463,
 'guide': 12152,
 'shares': 26562,
 'secrets': 26225,
 'legendary': 16075,
 'muscle': 18488,
 'power': 22755,
 'solitary': 27352,
 'title': 29575,
 'bears': 2698,
 'fact': 9954,
 'spent': 27613,
 'years': 33023,
 'confinement': 5714,
 'explains': 9795,
 'how': 13160,
 'turned': 30249,
 'himself': 12816,
 'lean': 16020,
 'mean': 17450,
 'machine': 16899,
 'while': 32231,
 'living': 16477,
 'space': 27474,
 'feet': 10204,
 'eight': 8731,
 'diet': 7531,
 'scrubs': 26135,
 'grub': 12069,
 'virtually': 31577,
 'cost': 6133,
 'book': 3436,
 'aimed': 939,
 'those': 29392,
 'fabulously': 9937,
 'fit': 10461,
 'spending': 27611,
 'fortune': 10846,
 'gym': 12219,
 'memberships': 17545,
 'protein': 23334,
 'supplements': 28505,
 'designer': 7305,
 'trainers': 29916,
 'starts': 27869,
 'fierce': 10322,
 'expensive': 9767,
 'myths': 18578,
 'churned': 4867,
 'exercise': 9679,
 'industry': 13884,
 'mag': 16941,
 'start': 27861,
 'laugh': 15920,
 'wipe': 32415,
 'arse': 1850,
 'opening': 20855,
 'paragraph': 21478,
 'penned': 21829,
 'joke': 15020,
 'big': 2978,
 'con': 5607,
 'call': 4121,
 'criminal': 6356,
 'help': 12665,
 'feeling': 10200,
 'point': 22500,
 'bars': 2573,
 'having': 12502,
 'published': 23474,
 'birdman': 3058,
 'opens': 20862,
 'mind': 17832,
 'drawings': 8264,
 'poems': 22490,
 'prisoner': 23074,
 'discover': 7719,
 'creative': 6327,
 'residing': 24902,
 'her': 12692,
 'majesty': 17026,
 'pleasure': 22354,
 'jimmy': 14894,
 'boyle': 3565,
 'scots': 26073,
 'novelist': 19286,
 'discovered': 7720,
 'artistic': 1871,
 'talents': 28880,
 'when': 32214,
 'barlinnie': 2551,
 'special': 27556,
 'unit': 30734,
 'their': 29290,
 'violent': 31552,
 'pasts': 21628,
 'teaching': 29009,
 'express': 9836,
 'emotions': 8929,
 'artistically': 1872,
 'sentenced': 26371,
 'murder': 18472,
 'babs': 2372,
 'rooney': 25417,
 'released': 24602,
 'moved': 18295,
 'become': 2720,
 'respected': 24935,
 'artist': 1870,
 'novel': 19285,
 'hero': 12719,
 'underworld': 30628,
 'autobiography': 2213,
 'sense': 26355,
 'freedom': 10962,
 'made': 16927,
 'award': 2307,
 'winning': 32403,
 'film': 10365,
 'hugh': 13221,
 'collins': 5318,
 'jailed': 14729,
 'william': 32349,
 'mooney': 18181,
 'glasgow': 11630,
 'stabbed': 27793,
 'three': 29411,
 'earning': 8536,
 'extra': 9877,
 'seven': 26471,
 'sentence': 26370,
 'after': 809,
 'being': 2789,
 'transferred': 29943,
 'attended': 2107,
 'learned': 16029,
 'sculpt': 26142,
 'developed': 7407,
 'interest': 14238,
 'art': 1854,
 'murderer': 18474,
 'frank': 10928,
 'account': 446,
 'culture': 6507,
 'numbers': 20113,
 'received': 24244,
 'critical': 6372,
 'praise': 22803,
 'lord': 16671,
 'archer': 1748,
 'doesn': 8049,
 'seem': 26266,
 'trouble': 30125,
 'continuing': 5935,
 'write': 32654,
 'books': 3445,
 'millions': 17802,
 'jail': 14728,
 'recently': 24251,
 'signed': 26808,
 'deal': 6864,
 'macmillan': 16907,
 'publishers': 23476,
 'worth': 32607,
 'million': 17799,
 'doubt': 8166,
 'scribbling': 26117,
 'we': 32059,
 'speak': 27545,
 'why': 32298,
 'men': 17564,
 'destructive': 7352,
 'towards': 29825,
 'society': 27301,
 'stuck': 28204,
 'inside': 14093,
 'steve': 27975,
 'richards': 25174,
 'publisher': 23475,
 'many': 17155,
 'figures': 10340,
 'believes': 2808,
 'roots': 25424,
 'phenomenon': 22062,
 'pragmatic': 22800,
 'profound': 23187,
 'sometimes': 27379,
 'criminals': 6357,
 'known': 15562,
 'stable': 27798,
 'environment': 9246,
 'focus': 10665,
 'skills': 26981,
 'also': 1159,
 'education': 8656,
 'early': 8530,
 'hard': 12398,
 'anyone': 1560,
 'offered': 20657,
 'explore': 9809,
 'however': 13163,
 'reasons': 24198,
 'deeper': 6994,
 'cold': 5273,
 'light': 16307,
 'examine': 9599,
 'essence': 9427,
 'themselves': 29299,
 'am': 1197,
 'remembered': 24662,
 'violence': 31551,
 'contribute': 5964,
 'something': 27377,
 'good': 11786,
 'born': 3488,
 'michael': 17710,
 'gordon': 11809,
 'peterson': 22004,
 'changed': 4634,
 'name': 18628,
 'hollywood': 12996,
 'death': 6876,
 'wish': 32434,
 'films': 10368,
 'mainly': 17012,
 'things': 29352,
 'bad': 2419,
 'originally': 21008,
 'robbery': 25332,
 'series': 26417,
 'original': 21006,
 'term': 29168,
 'over': 21184,
 'result': 24987,
 'attacking': 2091,
 'convicted': 6010,
 'holding': 12975,
 'teacher': 29006,
 'nearly': 18755,
 'two': 30312,
 'days': 6812,
 'during': 8431,
 'siege': 26781,
 'standing': 27839,
 'five': 10469,
 'ten': 29132,
 'inches': 13750,
 'tall': 28891,
 'weighing': 32131,
 'numberlbs': 19827,
 'renowned': 24722,
 'strength': 28131,
 'bent': 2865,
 'metal': 17634,
 'cell': 4516,
 'doors': 8131,
 'bare': 2532,
 'hands': 12357,
 'does': 8048,
 'yes': 33045,
 'ups': 31008,
 'puts': 23562,
 'times': 29534,
 'four': 10879,
 'seconds': 26217,
 'push': 23553,
 'judging': 15102,
 'our': 21103,
 'current': 6544,
 'obsession': 20543,
 'might': 17759,
 'see': 26254,
 'face': 9939,
 'sitting': 26932,
 'coffee': 5249,
 'table': 28816,
 'land': 15832,
 'give': 11602,
 'dream': 8272,
 'body': 3361,
 'called': 4126,
 'gurus': 12181,
 'promise': 23242,
 'motivate': 18256,
 'words': 32555,
 'powerfully': 22761,
 'fists': 10460,
 'crap': 6289,
 'drinks': 8298,
 'pills': 22190,
 'diets': 7535,
 'load': 16530,
 'bollocks': 3392,
 'multi': 18424,
 'pound': 22742,
 'racket': 23899,
 'writes': 32660,
 'refreshingly': 24448,
 'honest': 13039,
 'style': 28236,
 'lazy': 15967,
 'bastards': 2606,
 'choice': 4819,
 'sick': 26765,
 'hearing': 12592,
 'reading': 24150,
 'excuses': 9655,
 'stuff': 28215,
 'shit': 26643,
 'logical': 16603,
 'motivational': 18260,
 'mantras': 17137,
 'kick': 15412,
 'er': 9323,
 'backside': 2401,
 'needed': 18777,
 'mirage': 17884,
 'publishing': 23478,
 'bookstores': 3449,
 'october': 20605,
 'trying': 30174,
 'research': 24867,
 'via': 31453,
 'sa': 25684,
 'mirrors': 17889,
 'engines': 9081,
 'canned': 4202,
 'script': 26118,
 'exists': 9712,
 'giving': 11605,
 'clients': 5069,
 'access': 407,
 'user_prefs': 31092,
 'options': 20936,
 'based': 2582,
 'cgi': 4596,
 'interface': 14244,
 'numerous': 20419,
 'isps': 14607,
 'provide': 23366,
 'feature': 10173,
 'find': 10393,
 'nothing': 19260,
 'configuration': 5706,
 'uses': 31101,
 'amavis': 1205,
 'postfix': 22695,
 'clamav': 4969,
 'filtering': 10371,
 'procmail': 23140,
 'spamassassin': 27494,
 'spam': 27487,
 'would': 32612,
 'prefer': 22882,
 'myself': 18563,
 'appreciate': 1672,
 'suggestions': 28399,
 'sponsored': 27672,
 'osdn': 21041,
 'tired': 29563,
 'old': 20726,
 'phone': 22084,
 'hello': 12660,
 'discussed': 7743,
 'article': 1863,
 'approach': 1679,
 'thank': 29267,
 'there': 29318,
 'rules': 25575,
 'accomplish': 437,
 'thomas': 29383,
 'alva': 1188,
 'edison': 8633,
 'devel': 7405,
 'great': 11967,
 'minds': 17838,
 'alike': 1079,
 'even': 9533,
 'withput': 32453,
 'eval': 9517,
 'useful': 31082,
 'allow': 1117,
 'respond': 24945,
 'spammer': 27507,
 'tricks': 30075,
 'theo': 29302,
 'van': 31253,
 'dinter': 7611,
 'numberam': 19393,
 'marc': 17171,
 'perkel': 21893,
 'though': 29395,
 'idea': 13429,
 'live': 16468,
 'updates': 30976,
 'release': 24601,
 'user': 31089,
 'cron': 6390,
 'job': 14982,
 'week': 32119,
 'default': 7005,
 'rule': 25570,
 'set': 26450,
 'react': 24133,
 'faster': 10094,
 'suggested': 28396,
 'few': 10268,
 'months': 18170,
 'don': 8096,
 'remember': 24661,
 'came': 4149,
 'require': 24841,
 'changes': 4638,
 'mon': 18115,
 'numberpm': 20021,
 'john': 15003,
 'looney': 16652,
 'mentioned': 17577,
 'likely': 16329,
 'boot': 3462,
 'cobalt': 5215,
 'passing': 21607,
 'root': 25421,
 'dev': 7402,
 'hdanumber': 12539,
 'kernel': 15341,
 'mdnumber': 17439,
 'solve': 27359,
 'reason': 24190,
 'booting': 3468,
 'box': 3554,
 'wasn': 31927,
 'barf': 2538,
 'init': 14007,
 'turns': 30257,
 'populating': 22605,
 'tar': 28925,
 'seems': 26269,
 'issues': 14616,
 'crosslinked': 6404,
 'files': 10354,
 ...}

In [54]:
column_nums, terms = zip(*sorted(zip(tfidf.vocabulary_.values(),\
                                    tfidf.vocabulary_.keys())))

In [55]:
terms

('_',
 '__',
 '___',
 '___amex',
 '___disc',
 '___i',
 '___instant',
 '___mastercard',
 '___oop',
 '___visa',
 '___x',
 '___yes',
 '__db',
 '__extremely__',
 '__getstate__',
 '__gxx_personality_vnumber',
 '__init__',
 '__ksymtab_snd_hack_usb_set_interface',
 '__number',
 '__osf__',
 '__p_',
 '__setstate__',
 '__stub',
 '_a',
 '_aaron',
 '_additional_',
 '_all',
 '_all_',
 '_and_',
 '_anil',
 '_any_',
 '_are',
 '_are_',
 '_at_',
 '_audio',
 '_awesome',
 '_bad_file_number_can',
 '_because_',
 '_bill',
 '_blank',
 '_brad',
 '_buckles_',
 '_buffy',
 '_but',
 '_chance_',
 '_charlie',
 '_clay',
 '_client_',
 '_dan',
 '_datadir',
 '_dean',
 '_demand_',
 '_did_',
 '_displays',
 '_does',
 '_duh_',
 '_elvis_',
 '_emacs',
 '_emotional_',
 '_everything_',
 '_exactly_',
 '_exit',
 '_exmh_number',
 '_exmh_numberp',
 '_extremely_',
 '_fads',
 '_for',
 '_former',
 '_fundamental_',
 '_goal',
 '_haiku_',
 '_heather',
 '_himself_',
 '_his_',
 '_i',
 '_i_',
 '_ian',
 '_included',
 '_incredibly',
 '_installing_',
 '_investment_',
 '_io_file',
 '_it',
 '_jason',
 '_jeffrey',
 '_joe',
 '_joel',
 '_jonathon',
 '_keep',
 '_kevin',
 '_killer',
 '_known_',
 '_large_',
 '_law',
 '_league',
 '_les',
 '_leslie',
 '_line_number',
 '_lot_',
 '_mac',
 '_malcolm',
 '_management_',
 '_marcus',
 '_margaret',
 '_mark',
 '_me',
 '_me_',
 '_michael',
 '_most_',
 '_nb',
 '_never',
 '_nextpart_number_number_numberbdfnumbercnumber',
 '_nextpart_number_numberbnumber_numberenumberanumberb',
 '_nextpart_number_numberf_numberbdfnumbercnumber',
 '_nextpart_numberrfkindysadvnqwnumbernerasdf',
 '_nicholas',
 '_not_',
 '_number',
 '_numberjnumberbjk',
 '_numberjnumberbjknumber',
 '_ok',
 '_on',
 '_one_',
 '_only_',
 '_osnews',
 '_paul',
 '_phil',
 '_plate',
 '_police',
 '_public',
 '_real_',
 '_really',
 '_recreate_',
 '_remove',
 '_require',
 '_retentive_',
 '_right_',
 '_rosencrantz',
 '_runner',
 '_sam',
 '_scott',
 '_sean',
 '_seth',
 '_shelley',
 '_slashdot_',
 '_socket',
 '_still_',
 '_sure_',
 '_sweet',
 '_sysconfdir',
 '_tao',
 '_thaanks',
 '_thanks',
 '_that',
 '_that_',
 '_the',
 '_the_',
 '_then_',
 '_they',
 '_think_',
 '_those_',
 '_timothy',
 '_tom',
 '_turn',
 '_two',
 '_unionism_',
 '_unpackaged_files_terminate_build',
 '_users_',
 '_very_',
 '_via',
 '_via_package_',
 '_was_',
 '_what',
 '_when',
 '_will_',
 '_ye',
 '_yes',
 '_you_',
 '_your_',
 '_zero_',
 '_ztvnnumber__cxxabivnumber__si_class_type_infoe',
 '_',
 'a',
 'aa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacuxrmplfnumberfhxl',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacnumbermmvznumbercjnumberzld',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacunumberwlcunumberwmnumberdlo',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaabcnumberfudnumberhgknumberxt',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacuxrmplfnumberfhxlnumbermh',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaafcvwyfk',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacuxrmplfnumberfhxlnumbermhyv',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacnlzcunnumberljnumberfetbkvts',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaknumberesw',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaknumberrgunumberjkdaljhgyaxwxhxsvbunumber',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaagvsapweyx',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaahjjoltwvgnumbervcjnumberzydvdsnumberrjednumberonumberjnumberlvaanumbermgaafnumber',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaarlnumberzdnumberx',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavynumberzhnumberr',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacfnumberiqrcnxnumberiqjrkxkvnumbermnumber',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaawvnumbervzwzwjj',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaafcvwyfk',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaacuxrmplfnumberfhxlnumbermhyv',
 'aaaaaaaaaaaaaaaaaaaaaaaaaaaothgyonumbersyjhdnumberohljunumberrnumbermnumbergdxbtjbtnumberucrqik',
 'aaaaaaaaaaaaaaaaaaaaaaaaaabyulglk',
 'aaaaaaaaaaaaaaaaaaaaaaaaaafcvwyfk',
 'aaaaaaaaaaaaaaaaaaaaaaaaahkquxpqi',
 'aaaaaaaaaaaaaaaaaaaaaaaacuxrmplfnumberfhxlnumbermhyvnumberagblnumbermhyv',
 'aaaaaaaaaaaaaaaaaaaaaaaafcvwyfk',
 'aaaaaaaaaaaaaaaaaaaaaabcnumbernmhoeclodjzgufjnyficqaawnumberdnumberenumberywjutnumbernvkivleocjttu',
 'aaaaaaaaaaaaaaaaaaaaabdtnumberd',
 'aaaaaaaaaaaaaaaaaaaaaknumberesw',
 'aaaaaaaaaaaaaaaaaaaaazsnumberqaaaaaaaaadasbbwkrrsjyswkmuxacqm',
 'aaaaaaaaaaaaaaaaaacjwwsqqtgnumberpjjnumberd',
 'aaaaaaaaaaaaaaaaaaylzaazxvdknumberoabldumnumberaaaaaqrthbnynumberulwnumberamaaaaaajzonchobwkkry',
 'aaaaaaaaaaaaaaaaix',
 'aaaaaaaaaaaaaaafcvwyfk',
 'aaaaaaaaaaaaaadzrbnumberqnumbereznumberqfuebbxknumbereznumberxnumber',
 'aaaaaaaaaaaaapmnumberknumberznumberscnumberptdskmnxtanumberapbhclusnumberqxurxmfnumbergnnumbervanumber',
 'aaaaaaaaaaaaehdbwqtvznumberxsamaqdnumberfaqnumber',
 'aaaaaaaaaaaagnumberigbvwconumberpyaqisuknumbersdpdwxwnumberhnumberrnumberrlwnzwsrtpnumberuovednumberpelynumberllncnumberzhfnumber',
 'aaaaaaaaaaaaotnumberzp',
 'aaaaaaaaaaaavynumberzhnumberr',
 'aaaaaaaaaaaazgabldumrqaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaamrqmrqgaoksbegngnumberaayhld',
 'aaaaaaaaaaanssnumberinumberanumberfmljltnbkfubtinumberyxlzgyooddujccljmdukrxjdqsfvxumeiodkmvbnumber',
 'aaaaaaaaaaanumberulbdjznumbersejtnumberyfhgnumberouenlxtfwoxioreulnumberdnumberznumberwnumberdocwnumbertpnumberfayfqnumbertcnumberdc',
 'aaaaaaaaaaenumbervxy',
 'aaaaaaaaaanumberpldwuzytdoxbbqknumberhovanumberuafnanumberxv',
 'aaaaaaaaaavynumberzhnumberr',
 'aaaaaaaablzxniaaaaaaaaaayuoyuqaazxuaaaaaaaaaaaaaaaaavnumbernnumbereznumberweqevqfvnumberplznumberbvfk',
 'aaaaaaawnumberjtnumberjzbnnumbereebukttcvleoxwwywnyxvuofqjcvkxgkyyqnumberq',
 'aaaaaahdjxpnjcnumbersocyphnumberqpnumber',
 'aaaaaaonumberdurakocwnkxnumberu',
 'aaaaabxqfvnumberplznumberbnumber',
 'aaaaafdnumbersthjhfciwaejancti',
 'aaaaagfuarszqonumberpdpmnumbergxvaadnumberilfrgmcsx',
 'aaaaavynumberzhnumberr',
 'aaaaaztrqzwwqybsnumberwnumberv',
 'aaaacuxrmplfnumberfhxlnumbermhyvnumberagblnumbermhyv',
 'aaaadiyuqaaaaanumberkstnumberqaaaaaaaaaajpnumbernknumberkomtlihqaaattnumberpkaaaaaaaaaaaaaaaaenumber',
 'aaaahdaqanumberosbsnumberghunumber',
 'aaaaoblngvkdoaaazqaazqaadkaaaaaaaaaaaaaaaaaazxvdknumberoaaaaaaaaaaaaaaaaaaaaaaaaa',
 'aaaavnumberebyvnumberebnlpznumberuxrmplfnumberabyvynumberzhnumberr',
 'aaadwnumberwnumberanumbernyioaaoanumbervdwgdujtzuwnumbercbgiacgascjkoxfnumberknumberigaoanumberhrwghnumberioanumberotnumber',
 'aaalnumberzdnumberx',
 'aabc',
 'aac',
 'aachen',
 'aadfaixnumbersnumberfnumbersmnumberqnumberrhnumbernpcnumberhzyznumberocnumberlnumberxmnumbertilkbhcwg',
 'aaefnumbervhwhpopanumbernrlinumberxynbznumberra',
 'aafaaaaaaaaaaaaaadbnumberahdowdwaojbnumberaahchcacognumberaaahn',
 'aaghbpsnumberptxncmvknumberdcjnumbersnumberkbnumbermnumbergkisrssnumberiu',
 'aahxqynumbermprrfhenumberoewnumberynumberuw',
 'aaibnumberqnumberddwnsnxcsnumberpceiznzduwnumberrhglrlnumbercwsvebnumberjvgtawe',
 'aak',
 'aalib',
 'aanumber',
 'aanumbermu',
 'aanumberyaaaatlbcudunhnumbermomznumbertoaqynumberelkuznumbertprdnumberzixnumberaern',
 'aanumberyehmnumberttjnumberdnumbergywmgtnkqknumberpnumberlwwnumberwppnumberlwnstmnumberxjynumberdxbnumberoxbouwzekfiegklywawnumbervp',
 'aao',
 'aaron',
 'aauscewtaclfswjjndgsunumbersynumbergtwnumbern',
 'aavid',
 'aavishkar',
 'aawaaaaaaaaaaaamflopnumberabkxglybanumberlyyhzqldvunumberbnumberxxhznumberfaqkaak',
 'aawfcvwyfk',
 'aawhnoaaaaaaaaagqaokcxlamsnumberbksistnumberxvanumberammspnumberryulfzbwvebnumberhhoksbkknnumberhyuvltjdqo',
 'aaxine',
 'aaxnumbersynumberrnumberfnumbertqaojzaaaaaaaaaaaaaaa',
 'aaznumberljzyptbwffjxjvhprruttfssanumbermnumberxskvzx',
 'ab',
 'abacha',
 'abandon',
 'abandoned',
 'abandoning',
 'abatement',
 'abbey',
 'abbreviated',
 'abbreviation',
 'abc',
 'abcvnumbertxhdelo',
 'abdominal',
 'abducted',
 'abductions',
 'abel',
 'abelard',
 'aber',
 'aberdeenshire',
 'aberrant',
 'aberration',
 'abetted',
 'abetting',
 'abgyqtvquinumberku',
 'abhixuyqknumberjhqaix',
 'abhnumberonumbereqmptrjitkedufuaabnnumberhufuagwnumberpnumberdc',
 'abide',
 'abidjan',
 'abilities',
 'ability',
 'abilty',
 'abit',
 'abiword',
 'abixuhanumbervtznqjlmnnumberyljhsoam',
 'abject',
 'able',
 'ablility',
 'ablnumberpqktexnumbervqzznumber',
 'abnormal',
 'aboard',
 'abolish',
 'abolished',
 'abolition',
 'abonnement',
 'abonnements',
 'abonns',
 'aboriginal',
 'abort',
 'aborted',
 'abound',
 'abounds',
 'about',
 'above',
 'abovementioned',
 'abovetelefax',
 'abpr',
 'abraham',
 'abreau',
 'abreauj',
 'abridged',
 'abroad',
 'absence',
 'absense',
 'absent',
 'absolute',
 'absolutely',
 'absolutes',
 'absolutly',
 'absorbed',
 'absorbing',
 'absorption',
 'abstract',
 'abstracted',
 'abstraction',
 'abstractions',
 'absurd',
 'absurdities',
 'absurdity',
 'absurdly',
 'abu',
 'abundant',
 'abundantly',
 'abuse',
 'abused',
 'abusers',
 'abuses',
 'abusing',
 'abw',
 'abxlnumbermhyv',
 'abyss',
 'abzc',
 'ablard',
 'ac',
 'ac_c',
 'ac_cache_check',
 'ac_compile',
 'ac_cpp',
 'ac_cv_func',
 'ac_cv_lib',
 'ac_cv_type_in_addr_t',
 'ac_define',
 'ac_egrep_header',
 'ac_exeext',
 'ac_ext',
 'ac_func',
 'ac_lib_var',
 'ac_link',
 'ac_n',
 'ac_save_libs',
 'ac_t',
 'ac_try_compile',
 'academia',
 'academic',
 'academics',
 'academy',
 'acadians',
 'acccount',
 'accel',
 'accelerate',
 'accelerated',
 'accelerating',
 'acceleration',
 'accelerations',
 'accelerator',
 'accelerators',
 'accent',
 'accented',
 'accents',
 'accept',
 'acceptability',
 'acceptable',
 'acceptance',
 'accepted',
 'accepting',
 'accepts',
 'acces',
 'accesories',
 'access',
 'accessed',
 'accesses',
 'accessibility',
 'accessible',
 'accessing',
 'accession',
 'accessories',
 'accessorized',
 'accessory',
 'accident',
 'accidentally',
 'accidently',
 'accidents',
 'acclaimed',
 'accolade',
 'accommodate',
 'accommodating',
 'accommodation',
 'accommodationist',
 'accommodations',
 'accompagnateur',
 'accompagne',
 'accompagnement',
 'accompagner',
 'accompanied',
 'accompanies',
 'accompany',
 'accompanying',
 'accomplices',
 'accomplish',
 'accomplished',
 'accomplishing',
 'accomplishments',
 'accord',
 'accordance',
 'according',
 'accordingly',
 'accords',
 'account',
 'accountability',
 'accountable',
 'accountant',
 'accounted',
 'accounting',
 'accounts',
 'accross',
 'accrotre',
 'accrue',
 'accrued',
 'accumulate',
 'accumulated',
 'accumulating',
 'accumulation',
 'accuracy',
 'accurate',
 'accurately',
 'accuse',
 'accused',
 'accuses',
 'accusing',
 'accustomed',
 'accs',
 'ace',
 'acerbic',
 'acfppqknumberjrhgk',
 'achievable',
 'achieve',
 'achieved',
 'achievement',
 'achieves',
 'achieving',
 'achy',
 'acid',
 'acie',
 'acilacaktir',
 'acinclude',
 'ackbar',
 'acker',
 'ackno',
 'acknowledge',
 'acknowledged',
 'acknowledgement',
 'acknowledges',
 'acknowledging',
 'acknowledgment',
 'ackwgynumberl',
 'acl',
 'aclocal',
 'acls',
 'aclu',
 'acm',
 'acme',
 'acn',
 'aconite',
 'acousto',
 'acowaqyqklptpjnumberozdcnumbervvunumbertuiyzj',
 'acpi',
 'acpnumber',
 'acquaintance',
 'acquainted',
 'acquire',
 'acquired',
 'acquires',
 'acquiring',
 'acquisition',
 'acquisitions',
 'acre',
 'acres',
 'acronym',
 'across',
 'acrylamide',
 'act',
 'act_scanners',
 'act_settings',
 'acted',
 'acteurs',
 'actigis',
 'actimates',
 'acting',
 'action',
 'actionable',
 'actioned',
 'actionnaire',
 'actions',
 'activate',
 'activated',
 'activating',
 'activation',
 'activations',
 'active',
 'activebuddy',
 'actively',
 'activement',
 'activespam',
 'activism',
 'activist',
 'activists',
 'activities',
 'activity',
 'activit',
 'actlab',
 'acton',
 'actor',
 'actors',
 'acts',
 'actual',
 'actually',
 'actuallyreverses',
 'actualy',
 'acuitive',
 'acute',
 'acxrmplfnumberfhxlnumbermhyv',
 'acynumberxpnumberjusobfmt',
 'ad',
 'ada',
 'adam',
 'adamant',
 'adams',
 'adamson',
 'adapt',
 'adapted',
 'adapter',
 'adapting',
 'adaptive',
 'adaptes',
 'adays',
 'adb',
 'adbusters',
 'add',
 'add_all_addresses_to_whitelist',
 'added',
 'addes',
 'addicted',
 'addiction',
 'addictions',
 'addictive',
 'addicts',
 'adding',
 'addition',
 'additional',
 'additionally',
 'additions',
 'additive',
 'addr',
 'addreses',
 'address',
 'addressable',
 'addressaccurately',
 'addressbook',
 'addressed',
 'addressee',
 'addresses',
 'addressing',
 'addrs',
 'adds',
 'adelie',
 'adelphia',
 'adenophora',
 'adequate',
 'adequately',
 'adhere',
 'adherence',
 'adhesion',
 'adhesive',
 'adjective',
 'adjoining',
 'adjourned',
 'adjournment',
 'adjust',
 'adjustable',
 'adjustdisplay',
 'adjusted',
 'adjusting',
 'adjustment',
 'adjusts',
 'adlwyyohnumberynumberh',
 'admin',
 'administer',
 'administrateur',
 'administration',
 'administrative',
 'administrator',
 'administrators',
 'administrivia',
 'admins',
 'admiral',
 'admire',
 'admiring',
 'admission',
 'admissions',
 'admit',
 'admits',
 'admitted',
 'admittedly',
 'admonish',
 'admonished',
 'adnumberunumbermpcpnumberwbmf',
 'adobe',
 'adolescence',
 'adolescent',
 'adolf',
 'adookuznpnnrmdaaeenumberhnumbermzctnumberqcqaaaaaagnumberllvcaazgvnumberqadknumbergadmnumberlltysrwckmnumberknumberlcwognumber',
 'adopt',
 'adopted',
 'adoptee',
 'adopter',
 'adopters',
 'adopting',
 'adoption',
 'adopts',
 'adore',
 'adqbrknumberwxnumberzwurnumbercvsuynumber',
 'adres',
 'adresinde',
 'adress',
 'adresse',
 'adrian',
 'adroitly',
 'ads',
 'adsit',
 'adsl',
 'adsp',
 'adult',
 'adultery',
 'adulthood',
 'adults',
 'adultsite',
 'adultwebmasters',
 'adustable',
 'adv',
 'advance',
 'advanced',
 'advancement',
 'advances',
 'advancing',
 'advantage',
 'advantages',
 'advantagesm',
 'advent',
 'adventure',
 'adventures',
 'adversaries',
 'adversary',
 'adverse',
 'adversity',
 'advert',
 'advertise',
 'advertised',
 'advertisement',
 'advertisements',
 'advertiser',
 'advertisers',
 'advertises',
 'advertising',
 'advertisment',
 'adverts',
 'advertsprjnumber',
 'advice',
 'advicer',
 'advices',
 'advise',
 'adviseby',
 'advised',
 'advisement',
 'adviser',
 'advises',
 'advisor',
 'advisors',
 'advisory',
 'advocacy',
 'advocate',
 'advocates',
 'advocating',
 'ae',
 'aebbinumbervucusakcuqnumberfte',
 'aeftr',
 'aeklnumberwpjhdlljwslqnumberzltwnumberynumbersrdrxsotsnumbertvinumberkxkqxjuwxnumberr',
 'aekmnumbertznumberfahzyqojyznumberdsrfgrthn',
 'aelghtfsnumberxeslcogerxrpmhkmevdhwlawwzpdnumberunumberhnumberzjuqxhksbfarnumbervxlhinumberazzaaaonjnumber',
 'aelvexapnumber',
 'aennumberlvvwnumberzqeczfujjjgrknumbervmwnumber',
 'aenumberf',
 'aenumberonumberaayoaaaaaaaaaaaaafcvwyfk',
 'aer',
 'aerial',
 'aerials',
 'aeriksson',
 'aerodynamical',
 'aerodynamics',
 'aerospace',
 'aesloymk',
 'aesthetic',
 'aesthetics',
 'aetpc',
 'aevwyfk',
 'af_axnumber',
 'af_ipx',
 'afaic',
 'afaict',
 'afaik',
 'afair',
 'afb',
 'afeoanyklgnumbertvomnxexrlkjy',
 'affair',
 'affairs',
 'affect',
 'affected',
 'affecting',
 'affectional',
 'affective',
 'affects',
 'affichage',
 'affidavit',
 'affidavits',
 'affiliate',
 'affiliated',
 'affiliateoptout',
 'affiliates',
 'affiliation',
 'affiliations',
 'affinity',
 'affirm',
 'affirmation',
 'affirmed',
 'affix',
 'affixed',
 'afflicted',
 'affluent',
 'afford',
 'affordable',
 'affordably',
 'afforded',
 'affronts',
 'afft',
 'afghan',
 'afghanistan',
 'afhppfdtnznumbersbnumbereunumberradzddtwnumbergnumberhhbnumberujtpnumberxnumberdvnsnumberyljiznumberznumberzzlnumbergnnumberjwnbnnumber',
 'afiapnuwunumberbvtx',
 'afin',
 'afirbpfnyynumberx',
 'afjnntnumber',
 'afknumbermr',
 'afkrnumbermh',
 'afkrnumberminumber',
 'afmlgtqeunumberxkdlovwnrnumberxsklpnumberjysaculwnumbersvuunumberl',
 'afnnumberzoadnfnumber',
 'afnumber',
 'afnumber_decore',
 'afnumberaw',
 'afnumberdpjhnumbernoxyinpnumberlchtgsuwlsditeow',
 'afnumberevnumberueinumbertnumberbpbnumber',
 'afohnumberjehokboxnumberclunumbermnumberxgwnumberrvoanfnumbermnumber',
 'aforementioned',
 'afoul',
 'afpnumberhnumbersvhppnumbermpjnumberxxnumbervxnumber',
 'afr',
 'afraid',
 'africa',
 'african',
 'africaspainsri',
 'aftcfeed',
 'after',
 'afterall',
 'afterglow',
 'aftermath',
 'afternoon',
 'afternoons',
 'afterward',
 'afterwards',
 'afterwhich',
 'afufnumberlhnumberzdknumberzndesbcnumberynumbergdjlrh',
 'afufnumberpyphnumber',
 'afy',
 'ag',
 'again',
 'against',
 'agavnumberinumbergcnumberuanmnu',
 'agdprvvuylwjggaa',
 'age',
 'aged',
 'ageing',
 'ageist',
 'agence',
 'agencies',
 'agency',
 'agenda',
 'agendas',
 'agent',
 'agents',
 'ages',
 'agfnofnqaakrrnumberlnlnumbercnuavhmnumber',
 'aggrandizement',
 'aggregate',
 'aggregated',
 'aggregatestudio',
 'aggregating',
 'aggregation',
 'aggregator',
 'aggregators',
 'aggression',
 'aggressions',
 'aggressive',
 'aggressively',
 'aggressor',
 'aggressors',
 'aggvnumberbnnumbercjdfgakmmbsunktk',
 'aghast',
 'aghfdpnumberar',
 'agile',
 'aging',
 'aginst',
 'agitated',
 'agitating',
 'aglacymgrunumberhnumberna',
 'agm',
 'agmrbbihmvetfeefijinumberunumberfxcogrmnumberjsocevinumberksssrdvgmnumberrewcnumberhodothhjwrnumberf',
 'agncnumberdccreernumberpknumbernansdrlkxpsbxnumberjyusnhbkwuvgnrppdpocnumbersota',
 'agnostic',
 'agnula',
 'ago',
 'agonising',
 'agony',
 'agosto',
 'agotnumbermuuvwppdrponumberjnumberinumbervzdkriyxbcijrxzynumberznumberivjb',
 'agra',
 'agraphic',
 'agree',
 'agreeable',
 'agreed',
 'agreeing',
 'agreement',
 'agreements',
 'agrees',
 'agressive',
 'agressor',
 'agribusiness',
 'agricultural',
 'agriculture',
 'aground',
 'agsvnumberxrrqyzwnnumberyt',
 'agun',
 'agxwslhbtbxwmnumberanumberfrlnumberzvhnumberlnjvbfnumbermrpnumberypmnumberwznumbercvuonumbers',
 'ah',
 'aha',
 'ahclxznumberdnnutrpypq',
 'ahdqftbcuyknumberjvkkzvznumberdpnumberfbldnumberyynumberuvtnumberv',
 'ahead',
 'ahebaxeb',
 'ahem',
 'aherne',
 'ahgmexuucvq',
 'ahh',
 'ahhh',
 'ahhhh',
 'ahlnumber',
 'ahlymirrioxweirkrpqcwsjuknumberp',
 'ahm',
 'ahmad',
 'ahmadabad',
 'ahmdbnumberamaaaaaaaayaudnqamedbzlqlnumberllnumberijuunmlxupvwsnumberxxiwrhbtxiknumberxbnumbermprinumberdinb',
 'ahmed',
 'ahmet',
 'ahmqodurxdnumberqtr',
 'ahnumberinwnumbertusqnumberpnumbertnumbertpkseknumberfjw',
 'ahnumberudsnumbervnumbermsdnnhdbznumberk',
 'ahold',
 'ahornstr',
 'ahotsexycouple',
 'ahr',
 'ahrcwaay',
 'ahryqxnumberrwmnvjxvopvqzpzseoezmwvnumberiufih',
 'ai',
 'aicheme',
 'aid',
 'aide',
 'aided',
 'aider',
 'aides',
 'aiding',
 'aids',
 'aidsphobic',
 'aie',
 'aig',
 'aihlzfsxznzowapjrp',
 'ailaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
 'ailcuxrmplfnumberajesw',
 'ailcuxrmplfnumberavsp',
 'ailcuxrmplfnumberfgaaaaaaaaaaaaabjnumberpu',
 'ailleurs',
 'ailments',
 'aim',
 'aimed',
 'aiming',
 'aiml',
 'aims',
 'ain',
 'ainnumbermmdlkdaqtyjxwknumber',
 'ainsi',
 'aint',
 'aintitcoolnews',
 'ainumbermvanumberinumberzrghbnumberjutnumberyiyjyanumbermnumberlcerdfzqiwztonhsmdhnumber',
 'aio',
 'air',
 'airbase',
 'airborne',
 'airbus',
 'aircraft',
 'aired',
 'airfare',
 'airfield',
 'airfiltering',
 'airflow',
 'airframe',
 'airing',
 'airline',
 'airliner',
 'airliners',
 'airlines',
 'airplane',
 'airplanes',
 'airport',
 'airports',
 'airshow',
 'airshows',
 'airspace',
 'airstrip',
 'airwaves',
 'airways',
 'airy',
 'aishihik',
 'aisle',
 'aisles',
 'aiuidwgnumbery',
 'aix',
 'aiy',
 'aj',
 'ajami',
 'ajatellut',
 'ajatuksia',
 'ajfohnumbersponumberqqnumberh',
 'ajjpfinkhgymnumbergxtvmnumberhuriuocusxofnumberenumberpdunumberywobgeknumberxlvnwy',
 'ajktanumbersooxnumbersnumber',
 'ajnnumberpqppnumberlfnumberznumberhogmunumberpnumberahjznumbervbjoogtkqtveqkm',
 'ajnumberosnumberuoksozknumberodzvnumberdnumbermmxxcnumberjtztvnnumberpnumbervfynbnumbergjabujyvufnumbertzbomumnumbertlmaj',
 'ajnutnumbercbscmmbtnumbervuonumberjcnqsjbzvxllunumberketsuph',
 'ajveuhetvgkdjr',
 'ajxyiqccvqwebxgnumber',
 'ak',
 'aka',
 'akam',
 'akamai',
 'akamorbus',
 ...)

In [56]:
weights = pd.DataFrame(pca.components_, columns=terms, index=\
                      ['topic{}'.format(i) for i in range(16)])
pd.options.display.max_columns=8
weights.head(4).round(3)

            _     __    ___  ___amex  ...         t
topic0  0.023  0.000 -0.005      0.0  ... -0.0 -0.0 -0.0   0.0
topic1  0.011  0.001 -0.000     -0.0  ...  0.0  0.0  0.0   0.0
topic2 -0.008 -0.001 -0.073      0.0  ...  0.0  0.0  0.0   0.0
topic3 -0.034  0.000  0.129      0.0  ...  0.0  0.0  0.0   0.0

[4 rows x 34079 columns]

In [59]:
pd.options.display.max_columns=12
deals = weights['half off free crazy deals only '.split()].\
round(3) * 100

In [60]:
deals

         half  off  free  crazy  deals  only
topic0   -0.4 -1.0  -1.5   -0.1   -0.1  -1.9
topic1   -0.7 -1.3   0.1   -0.2    0.0  -3.6
topic2   -0.4  0.0   9.6    0.1    0.2   2.0
topic3   -0.9 -1.0   4.9   -0.2    0.1  -0.1
topic4    0.2 -0.6  -2.0   -0.0    0.0  -1.8
topic5   -0.0 -0.1   9.5    0.0    0.5   1.1
topic6    0.6  0.2  -6.5   -0.0   -0.2  -1.6
topic7   -0.5  0.9   1.6    0.1    0.0   0.9
topic8    0.2  1.0  -4.4    0.1    0.4  -1.5
topic9    0.4 -0.9   4.8   -0.2    0.1  -2.8
topic10   0.5  0.4   0.2    0.3   -0.1   0.4
topic11   0.7  1.1   2.0    0.4   -0.3  -0.2
topic12   0.5 -0.0   6.9    0.1    0.1   4.6
topic13  -0.9  0.5  -2.2    0.1    0.7  -0.8
topic14  -0.3  1.1   2.2    0.5    0.2  -2.1
topic15  -0.2  0.0  10.5    0.3    0.1   1.0

In [61]:
deals.T.sum()

topic0     -5.0
topic1     -5.7
topic2     11.5
topic3      2.8
topic4     -4.2
topic5     11.0
topic6     -7.5
topic7      3.0
topic8     -4.2
topic9      1.4
topic10     1.7
topic11     3.7
topic12    12.2
topic13    -2.6
topic14     1.6
topic15    11.7
dtype: float64

In [63]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import casual_tokenize
np.random.seed(42)

counter = CountVectorizer(tokenizer=casual_tokenize)
bow_docs = pd.DataFrame(counter.fit_transform(raw_documents=sms.email)\
                       .toarray())

In [64]:
column_names, terms = zip(*sorted(zip(counter.vocabulary_.values(),\
                                     counter.vocabulary_.keys())))
bow_docs.columns = terms

In [68]:
sms

                                                  email  label  lda_score  lda_predict
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0   0.138859            0
1     martin a posted tassos papadopoulos the greek ...      0   0.266151            0
2     man threatens explosion in moscow thursday aug...      0   0.280394            0
3     klez the virus that won t die already the most...      0   0.250174            0
4      in adding cream to spaghetti carbonara which ...      0   0.268036            0
...                                                 ...    ...        ...          ...
2995   abc s good morning america ranks it the NUMBE...      1   0.403589            0
2996   hyperlink hyperlink hyperlink let mortgage le...      1   0.944242            1
2997   thank you for shopping with us gifts for all ...      1   0.699741            1
2998   the famous ebay marketing e course learn to s...      1   0.478429            0
2999   hello this is chinese traditional   NUMBER...      1   0.313451            0

[2999 rows x 4 columns]

In [70]:
sms.email[0]

' date wed NUMBER aug NUMBER NUMBER NUMBER NUMBER NUMBER from chris garrigues cwg dated NUMBER NUMBERfaNUMBERd deepeddy com message id NUMBER NUMBER tmda deepeddy vircio com i can t reproduce this error for me it is very repeatable like every time without fail this is the debug log of the pick happening NUMBER NUMBER NUMBER pick_it exec pick inbox list lbrace lbrace subject ftp rbrace rbrace NUMBER NUMBER sequence mercury NUMBER NUMBER NUMBER exec pick inbox list lbrace lbrace subject ftp rbrace rbrace NUMBER NUMBER sequence mercury NUMBER NUMBER NUMBER ftoc_pickmsgs NUMBER hit NUMBER NUMBER NUMBER marking NUMBER hits NUMBER NUMBER NUMBER tkerror syntax error in expression int note if i run the pick command by hand delta pick inbox list lbrace lbrace subject ftp rbrace rbrace NUMBER NUMBER sequence mercury NUMBER hit that s where the NUMBER hit comes from obviously the version of nmh i m using is delta pick version pick nmh NUMBER NUMBER NUMBER compiled on URL at sun mar NUMBER NUMBER NUMBER NUMBER ict NUMBER and the relevant part of my mh_profile delta mhparam pick seq sel list since the pick command works the sequence actually both of them the one that s explicit on the command line from the search popup and the one that comes from mh_profile do get created kre ps this is still using the version of the code form a day ago i haven t been able to reach the cvs repository today local routing issue i think _______________________________________________ exmh workers mailing list exmh workers URL URL '

In [72]:
bow_docs.email[0][bow_docs.email[0] > 0]

array([], dtype=int64)

In [73]:
from sklearn.decomposition import LatentDirichletAllocation as LDiA
ldia = LDiA(n_components=16, learning_method='batch')
ldia = ldia.fit(bow_docs)
ldia.components_.shape

(16, 34079)

In [74]:
components = pd.DataFrame(ldia.components_.T, index=terms, columns=columns)

In [75]:
components.round(2).head(3)

     topic0  topic1  topic2  topic3  topic4  topic5  ...  topic10  topic11  topic12  topic13  topic14  topic15
_      7.94    0.06  160.17   45.22    0.06   12.58  ...     0.06     0.06     3.80     0.06     0.06     0.06
__     2.48    0.06    3.57    0.06    0.06    1.14  ...     0.06     0.06     0.06     0.06     0.06     0.06
___    0.06  249.32   18.86  191.25    0.06  205.81  ...     0.06     0.71     2.16     0.06     0.06     0.06

[3 rows x 16 columns]

In [76]:
components.topic1.sort_values(ascending=False)[:10]

number    1672.225093
rpm        895.141689
i          833.700666
list       832.017335
the        645.204416
it         454.466137
and        430.774694
a          405.550005
to         387.292274
url        358.756344
Name: topic1, dtype: float64

In [77]:
ldia16_topic_vectors = ldia.transform(bow_docs)
ldia16_topic_vectors = pd.DataFrame(ldia16_topic_vectors, columns=columns)

In [78]:
ldia16_topic_vectors.round(2).head()

   topic0  topic1  topic2  topic3  topic4  topic5  ...  topic10  topic11  topic12  topic13  topic14  topic15
0    0.00     0.0    0.00     0.0    0.00    0.61  ...      0.0     0.00      0.0     0.00      0.0      0.0
1    0.00     0.0    0.49     0.0    0.00    0.00  ...      0.0     0.51      0.0     0.00      0.0      0.0
2    0.11     0.0    0.60     0.0    0.18    0.00  ...      0.0     0.10      0.0     0.00      0.0      0.0
3    0.00     0.0    0.00     0.3    0.49    0.12  ...      0.0     0.00      0.0     0.08      0.0      0.0
4    0.00     0.0    0.56     0.0    0.00    0.12  ...      0.0     0.31      0.0     0.00      0.0      0.0

[5 rows x 16 columns]

In [79]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(ldia16_topic_vectors,
                                                   sms.label, test_size=0.5,
                                                   random_state=42)

In [80]:
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)

In [81]:
sms['lda16_spam'] = lda.predict(ldia16_topic_vectors)

In [82]:
round(float(lda.score(X_test, y_test)), 2)

0.95

In [83]:
sms

                                                  email  label  lda_score  lda_predict  lda16_spam
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0   0.138859            0           0
1     martin a posted tassos papadopoulos the greek ...      0   0.266151            0           0
2     man threatens explosion in moscow thursday aug...      0   0.280394            0           0
3     klez the virus that won t die already the most...      0   0.250174            0           0
4      in adding cream to spaghetti carbonara which ...      0   0.268036            0           0
...                                                 ...    ...        ...          ...         ...
2995   abc s good morning america ranks it the NUMBE...      1   0.403589            0           1
2996   hyperlink hyperlink hyperlink let mortgage le...      1   0.944242            1           1
2997   thank you for shopping with us gifts for all ...      1   0.699741            1           1
2998   the famous ebay marketing e course learn to s...      1   0.478429            0           1
2999   hello this is chinese traditional   NUMBER...      1   0.313451            0           1

[2999 rows x 5 columns]

In [85]:
confusion_matrix(sms.label, sms.lda16_spam)

array([[2437,   63],
       [  78,  421]], dtype=int64)

In [87]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize.casual import casual_tokenize
tfidf = TfidfVectorizer(tokenizer=casual_tokenize)
tfidf_docs = tfidf.fit_transform(raw_documents=sms.email).toarray()
tfidf_docs = tfidf_docs - tfidf_docs.mean(axis=0)

In [88]:
X_train, X_test, y_train, y_test = train_test_split(tfidf_docs,\
                                                   sms.label.values,
                                                   test_size=0.5,
                                                   random_state=42)

In [90]:
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)
round(float(lda.score(X_train, y_train)), 3)

0.999

In [91]:
round(float(lda.score(X_test, y_test)), 3)

0.618

In [92]:
ldia32 = LDiA(n_components=32, learning_method='batch')
ldia32 = ldia32.fit(bow_docs)
ldia32.components_.shape

(32, 34079)

In [96]:
ldia32_topic_vectors = ldia32.transform(bow_docs)
columns32 = ['topic{}'.format(i) for i in range(ldia32.n_components)]
ldia32_topic_vectors = pd.DataFrame(ldia32_topic_vectors, columns = columns32)

In [97]:
ldia32_topic_vectors.round(2).head()

   topic0  topic1  topic2  topic3  topic4  topic5  ...  topic26  topic27  topic28  topic29  topic30  topic31
0    0.00     0.0    0.14     0.0    0.00    0.00  ...     0.44      0.0      0.0     0.29      0.0      0.0
1    0.04     0.0    0.00     0.0    0.00    0.00  ...     0.00      0.0      0.0     0.00      0.0      0.0
2    0.00     0.0    0.20     0.0    0.17    0.06  ...     0.00      0.0      0.0     0.00      0.0      0.0
3    0.00     0.0    0.86     0.0    0.00    0.07  ...     0.00      0.0      0.0     0.00      0.0      0.0
4    0.00     0.0    0.22     0.0    0.00    0.00  ...     0.00      0.0      0.0     0.20      0.0      0.0

[5 rows x 32 columns]

In [99]:
X_train, X_test, y_train, y_test = train_test_split(ldia32_topic_vectors,\
                                                   sms.label, test_size=0.5,
                                                   random_state=42)
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)
sms['ldia32_spam'] = lda.predict(ldia32_topic_vectors)

In [100]:
X_train.shape

(1499, 32)

In [101]:
round(float(lda.score(X_train, y_train)), 3)

0.949

In [102]:
round(float(lda.score(X_test, y_test)), 3)

0.933

In [103]:
lda = LDA(n_components=1)
lda = lda.fit(tfidf_docs, sms.label)
sms['lda_spaminess'] = lda.predict(tfidf_docs)
((sms.label - sms.lda_spaminess) ** 2.).sum() ** .5

0.0

In [105]:
from sklearn.model_selection import cross_val_score
lda = LDA(n_components=1)
scores = cross_val_score(lda, tfidf_docs, sms.label, cv=5)
"Accuracy: {:.2f} (+/-{:.2f})".format(scores.mean(), scores.std() * 2)

'Accuracy: 0.49 (+/-0.07)'